
$color1: #01c8ef;
$color2: #e51376;
$color3: #101b37;

$mainTitleFont: 'Righteous', cursive;
$mainTextFont: 'Sofia Sans Semi Condensed', sans-serif;

$fontWeight400: 400;
$fontWeight600: 600;
$fontWeight800: 800;
$fontWeight900: 900;

$maxWidth: 1920;
$maxWidthContainer: 1100;